/* BlogList.css */

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 60vw;
    font-family: "Montserrat";
    margin: 10px;
  }
  
  .blog-item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Adjust the width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: fit-content;
    position: relative;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  .blog-item:hover {
    transform: translateY(-4px); /* Move the item up slightly on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Increase the box shadow on hover */
  }
  
  .credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog-left {
    flex: 1;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
   
  }
  
  .blog-right {
    flex: 2;
    margin-left: auto; /* Adjust the ratio for the desired width of title and description */
  }
  
  .blog-image {
width: 150px;
aspect-ratio: 6/4;
border: 1px solid black;
display: flex;
align-items: center;
  }
  
  .blog-title {
    font-size: 1.3rem;
    font-weight: 600;
    /* margin: 10px 0; */
  }
  
  .blog-short-description {
    font-size: 1rem;
    margin-top: 5px;
    /* padding: 10px; */
    padding-top: 10px;
    max-width: 65%;

  }
  .blog_author_img{
  height: 20px;
  aspect-ratio: 1;
  margin-right: 9px;
  border-radius: 50%;
  }
  
  .blog-author {
    font-size: 1.1rem;
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 2px;
  }
  
  .blog-tags {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: -10px;
  }
  
  .tag {
    background-color: rgb(111, 109, 109);
    color: #fff;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 2px;
    font-size: 0.4rem;

  }
  
  .read-button {
    background-color:black;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
  
  .read-button:hover {
    background-color: purple;
  }
  
  .write-first-blog {
    background-color: rgb(187,221,245);
  
    text-align: left;
    padding: 20px; 
    border-radius: 10px; 
    position: relative;
    max-width: 95vw;
    
    margin: auto;
  }
  .write-first-blog p{
    color: black; 
    font-size:x-large;
    font-family: "Montserrat";
    font-weight: 600;
  }
  .write-first-blog-desc{
    font-family: "Montserrat";
    max-width: 500px;

  }
  

  .write-first-blog button.write_blog {
    background-color: rgb(28,92,255);
    color: white;
    border: none; 
    cursor: pointer;
    padding: 10px 20px; 
    font-size: 18px; 
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  @media screen and (max-width: 300px) {
    .blog-item{
      flex-direction: column;
    }
    .blog-short-description{
      display: none;
    }
   
  }
  @media (max-width : 760px){
  .blog-tags{
    display: none;
  }
  .blog-list{
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .blog-short-description{
    display: none;
  }

  .write-first-blog button{
    top: 10px;
    height: 30%;
  }
  .righty{
    display: none;
  }

  }
  .meta_data_blog{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 0.9rem;
    margin-top: 25px;
  }


.save_blog:hover{
cursor: pointer;
  }

  .overall{
    display: flex;
   margin-left: 17px;
  }

  .righty{
   margin: 10px;
  }