/* Add your custom styles here */
.blog-editor {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
  }
  
  .editor-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px 3px;
  }
  
  .ql-toolbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .ql-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 300px;
  }
  
  .ql-editor {
    padding: 10px;
    height: 100%;
    font-size: 16px;
  }
  
  /* Customize other styles as needed */
  

  /* CSS in New_Blog.css */
.tag {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 5px 7px;
  margin: 5px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.add-tag-button {
  background-color: black; /* Green color for the button */
  color: #fff;
  border: none;
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* CSS in New_Blog.css */
.tag-input {
  padding: 10px;
  /* Border color */
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.add-tag-button, .image-upload {
  background-color: black; /* Background color for button and file input */
  color: #fff; /* Text color */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 2px;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */

  /* Center the text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-tag-button{
  background-color: #4caf50;
}

.add-tag-button:hover, .image-upload:hover {
  background-color: rgb(52, 52, 52); 
  /* Darker color on hover */
}
.add-tag-button:hover{
  background-color: #4caf50;
}

.image-upload input[type="file"] {
  display: none; 
  margin: 10px;
  
}


.publish-button {
  background-color: #4caf50; /* Green color for the button */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Align to the top-right corner */
}

.remove-tag{
  margin: 4px;
}